# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.env

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# OS
.DS_Store
Thumbs.db

# Temp Office files
~$*.xlsx
~$*.docx
~$*.xls
~$*.doc

# IDE
.vscode/
.idea/
*.swp
